<% @posts.each do |post| %>
  <div class="card p-3">
    <p><small>Subreddit: <%= link_to post.subreddit.name, subreddit_path(post.subreddit) %> Posted by <%= link_to post.account.full_name, profile_path(post.account.username) %> <%= time_ago_in_words post.created_at %> ago.</small></p>
    <h4><%= link_to post.title, subreddit_post_path(post.subreddit_id, post) %></h4>
    <p><%= truncate post.body, length: 200 %></p>
  </div>
<% end %>
