<<<<<<< HEAD
<div>
  <h2><%= @post.title  %></h2>
  <p> <%= @post.body %></p>
=======

<div>
  <h2><%= @post.title  %></h2>
  <p> <%= @post.body %></p>
  <p>
    <%= link_to 'Edit', edit_post_path(post) %>
  </p>
>>>>>>> 064af047bbf09f79a0718f19bb0d00ae79ba24b6
</div>
